In [52]:
import requests
import pandas as pd

url = 'https://finnhub.io/api/v1/stock/insider-transactions?symbol=BRK&token=cqbeha1r01qvu0jvmnngcqbeha1r01qvu0jvmno0'

response = requests.get(url)
import json
data = response.json()
df = pd.DataFrame(data["data"])
df.to_csv('./InsiderTranDATA/BRK.csv', index=False, header=True)

In [31]:
read_df = pd.read_csv('VRNT_insider_tran_0603.csv', delimiter=',')

In [32]:
read_df

,change,currency,filingDate,id,isDerivative,name,share,source,symbol,transactionCode,transactionDate,transactionPrice
0,-375000,NaN,2024-06-24,0001166388-24-000136,False,BODNER DAN,609764,sec,VRNT,S,2024-06-20,33.76
1,-7177,NaN,2024-06-20,0001166388-24-000134,False,BODNER DAN,984764,sec,VRNT,S,2024-06-18,35.04
2,-7100,NaN,2024-06-20,0001166388-24-000134,False,BODNER DAN,991941,sec,VRNT,S,2024-06-18,35.04
3,-2634,NaN,2024-06-20,0001166388-24-000132,False,MORIAH ELAN,146411,sec,VRNT,S,2024-06-18,35.04
4,-2320,NaN,2024-06-20,0001166388-24-000132,False,MORIAH ELAN,149045,sec,VRNT,S,2024-06-18,35.04
...,...,...,...,...,...,...,...,...,...,...,...,...
62,-2270,NaN,2023-09-15,0001166388-23-000159,False,MORIAH ELAN,99250,sec,VRNT,S,2023-09-13,24.94
63,-1682,NaN,2023-09-14,0001166388-23-000157,False,FANTE PETER,55239,sec,VRNT,S,2023-09-13,24.94
64,-5829,NaN,2023-09-14,0001166388-23-000155,False,BODNER DAN,1005645,sec,VRNT,S,2023-09-13,24.94
65,-30000,NaN,2023-08-22,0001166388-23-000136,False,BODNER DAN,1011474,sec,VRNT,S,2023-08-21,32.56
66,-29230,NaN,2023-07-21,0001166388-23-000134,False,BODNER DAN,1041474,sec,VRNT,S,2023-07-20,38.33

In [ ]:
# url = 'https://finnhub.io/api/v1/stock/insider-transactions?symbol=AAPL&token=cqbeha1r01qvu0jvmnngcqbeha1r01qvu0jvmno0'
# response = requests.get(url)
# data = response.json()
# insider_df = pd.DataFrame(data["data"])
# insider_df